@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Gothic A1', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 3vh 7.5%;
}
.first-header{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.first-header nav{
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* gap: 7%; */
    font-weight: 600;
    font-size: 1em;
    line-height: 20px;
  
}
nav a{
    color: #000000;
}
.first-header .img{
    display: flex;
    align-items: center;
}
.second-header{
    width: 20%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    font-weight: 600;
    font-size: 1em;
    line-height: 20px;
    padding-top: 1vh;
}
.second-header img{
    width: 80%;
}
.second-header a {
    color: #4A6DA7;
}
.second-header .sign {
    background-color: #4A6DA7;
    color: #FFFFFF;
    padding: 1vh 3vh;
    border-radius: 8px;
    margin-top: -1vh;
     font-weight: 600;
    font-size: 1em;
    line-height: 20px;
}

main{
    
}
.first-section{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5vh 7.5% 0;
    display: flex;
    justify-content: space-between;   
}
.build{
    margin: 10vh 0;
    width: 65%;
}
.build h2{
    font-weight: 700;
    font-size: 3em;
    line-height: 150%;
    padding-bottom: 2vh;
}
.build p{
    color: #CCCCCC;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 150%;
    text-align: justify;
    margin-bottom: 5vh;
}
.build a{
    background-color: #4A6DA7;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 2vh 3vh;
    margin-top: 3vh;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
}
.joygirl{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.joygirl img{
    width: 100%;
}
/* second section */
.second-section{
    background: #F8F9FC;
    color: #000000;
    margin-top: 5vh;
    padding:  3vh 7.5% 0;
    display: flex;
    justify-content: space-between;
}
.second-section .img{
    width: 40%;
}
.second-section .img img{
    width: 100%;
}
.showcase{
    width: 50%;
    padding-top: 2vh;
}
.showcase h6{
    font-weight: 700;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 1vh;
}
.showcase h3{
    font-weight: 800;
    font-size: 1.6em;
    line-height: 150%;
    padding-bottom: 2vh;
    width: 70%;
}
.showcase p{
    width: 90%;
    font-weight: 600;
    font-size: 1em;
    line-height: 150%;
    text-align: justify;
    color: #292929;
    padding-bottom: 2vh;
}
.showcase ul{
    margin-bottom: 3vh;
}
.showcase li{
    color: #141414;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 1vh;
}
.showcase a{
    font-weight: 500;
    font-size: 0.9em;
    line-height: 150%;
    background: #4A6DA7;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 2vh 2vh;
}
/* Firth section */
.fifth-section{
    background: #F8F9FC;
    color: #000000;
    margin-top: 5vh;
    text-align: center;
    padding: 5vh 7.5vh;
}
.fifth-section h2{
    font-weight: 800;
    font-size: 1.5em;
    line-height: 150%;
    padding-bottom: 3vh;
}
.fifth-section p{
    font-weight: 600;
    font-size: 1.1em;
    line-height: 150%;
    color: #3D3D3D;
    padding: 0 25%;
}
.fifth-section .img{
    padding-top: 5vh;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}
.fifth-section .img img{
    width: 24%;
    margin-bottom: 2vh;
}
/* sixth section */
.sixth-section{
    margin-top: 5vh;
    background: #FFFCFA;
    display: flex;
    padding: 5vh 7.5vh;
    justify-content: space-between;
}
.what-daisy{
    padding-top: 5vh;
    width: 45%;
}
.what-daisy h6{
    font-weight: 700;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 4vh;
}
.what-daisy h2{
    font-weight: 800;
    font-size: 1.4em;
    line-height: 150%;
    padding-bottom: 4vh;
}
.what-daisy p{
    font-weight: 500;
    font-size: 1.1em;
    line-height: 150%;
    color: #292929;
    text-align: justify;
    margin-bottom: 5vh;
}
.what-daisy a{
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
    background: #6F7682;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 2vh 4vh;
    
}
.sixth-section .img{
    width: 40%;
}
.sixth-section .img img{
    width: 100%;
}