@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Gothic A1', sans-serif;
    position: relative;
}


main{
    padding-top: 10vh;
}
.first-section{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5vh 7.5% 0;
    display: flex;
    justify-content: space-between;   
}
.build{
    margin: 10vh 0;
    width: 65%;
}
.build h2{
    font-weight: 700;
    font-size: 3em;
    line-height: 150%;
    padding-bottom: 2vh;
}
.build p{
    color: #CCCCCC;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 150%;
    text-align: justify;
    margin-bottom: 5vh;
}
.build a{
    background-color: #4A6DA7;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 2vh 3vh;
    margin-top: 3vh;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
}
.joygirl{
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.joygirl img{
    width: 100%;
}
/* second section */
.second-section{
    background: #F8F9FC;
    color: #000000;
    margin-top: 5vh;
    padding:  3vh 7.5% 0;
    display: flex;
    justify-content: space-between;
}
.second-section .img{
    width: 40%;
}
.second-section .img img{
    width: 100%;
}
.showcase{
    width: 50%;
    padding-top: 2vh;
}
.showcase h6{
    font-weight: 700;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 1vh;
}
.showcase h3{
    font-weight: 800;
    font-size: 1.6em;
    line-height: 150%;
    padding-bottom: 2vh;
    width: 70%;
}
.showcase p{
    width: 90%;
    font-weight: 600;
    font-size: 1em;
    line-height: 150%;
    text-align: justify;
    color: #292929;
    padding-bottom: 2vh;
}
.showcase ul{
    margin-bottom: 3vh;
}
.showcase li{
    color: #141414;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 1vh;
}
.showcase a{
    font-weight: 500;
    font-size: 0.9em;
    line-height: 150%;
    background: #4A6DA7;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 2vh 2vh;
}

/* Third section */
.third-section{
    display: flex;
    justify-content: space-between;
    background: #FBFCFD;
    padding: 5vh 7.5% 2vh;
    margin-top: 5vh;
}
.track{
    width: 48%;
}
.track h2{
    font-weight: 800;
    font-size: 1.7em;
    line-height: 150%;
    padding-bottom: 3vh;
}
.track p{
    font-weight: 700;
    font-size: 1.05em;
    line-height: 150%;
    width: 70%;
    color: #3D3D3D;
    padding-bottom: 8vh;
}
.track a{
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
    color: #4A6DA7;
    padding: 2vh 3.5vh;
    background-color: #FFFFFF;
    border: 1px solid #4A6DA7;
    border-radius: 8px;
}
.third-section .img{
    width: 50%;
}
.third-section .img img{
    width: 100%;
}

/* Fourth section */
.fourth-section{
    background: #FFFCFA;
    padding: 5vh 7.5%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}
.fourth-section .img{
    width: 45%;
}
.fourth-section .img img{
    width: 100%;
}
.generate{
    width: 50%;
}
.generate h2{
    font-weight: 800;
    font-size: 1.5em;
    line-height: 150%;
    padding-bottom: 3vh;
}
.generate p{
    font-weight: 600;
    font-size: 1em;
    text-align: justify;
    padding-bottom: 3vh;
    width: 90%;
    line-height: 150%;
}
.generate ul {
    margin-bottom: 6vh  ;
}
.generate li{
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 1.5vh;
}
.generate a{
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 1vh;
    padding: 2vh 3.5vh;
    background-color: #FFFFFF;
    border: 1px solid #4A6DA7;
    border-radius: 8px;
}


/* Fifth section */
.fifth-section{
    background: #F8F9FC;
    color: #000000;
    margin-top: 5vh;
    text-align: center;
    padding: 5vh 7.5%;
}
.fifth-section h2{
    font-weight: 800;
    font-size: 1.5em;
    line-height: 150%;
    padding-bottom: 3vh;
}
.fifth-section p{
    font-weight: 600;
    font-size: 1.1em;
    line-height: 150%;
    color: #3D3D3D;
    padding: 0 25%;
}
.fifth-section .img{
    padding-top: 5vh;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}
.fifth-section .img img{
    width: 24%;
    margin-bottom: 2vh;
}
/* sixth section */
.sixth-section{
    position: relative;
    margin-top: 5vh;
    background: #FFFCFA;
    display: flex;
    padding: 5vh 7.5%;
    justify-content: space-between;
}
.what-daisy{
    padding-top: 5vh;
    width: 45%;
}
.what-daisy h6{
    font-weight: 700;
    font-size: 0.9em;
    line-height: 150%;
    padding-bottom: 4vh;
}
.what-daisy h2{
    font-weight: 800;
    font-size: 1.4em;
    line-height: 150%;
    padding-bottom: 4vh;
}
.what-daisy p{
    font-weight: 500;
    font-size: 1.1em;
    line-height: 150%;
    color: #292929;
    text-align: justify;
    margin-bottom: 5vh;
}
.what-daisy a{
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
    background: #6F7682;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 2vh 4vh;
    
}
.sixth-section .img{
    width: 40%;
}
.sixth-section .img img{
    width: 100%;
}
.arrow{
    position: absolute;
    top: 88%;
    right: 2%;
    width: 2.5%;
}
.arrow img{
    width: 100%;
    cursor: pointer;
    -webkit-animation: mover 0.3s infinite  alternate;
    animation: mover 0.3s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

