@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Gothic A1', sans-serif;
    position: relative;
    background: #cce3ff65;
    margin: 0 15%;
}
header{
    background-color: #000000;
    color: #ffffff;
    padding:  3vh 7.5%;
}
header h2{
    font-weight: 600;
    font-size: 1.5em;
    line-height: 150%;
    padding-bottom: 1vh;
}
header p{
    font-weight: 600;
    font-size: 1.05em;
    line-height: 150%;
    width: 90%;
}
/* main section */
main{
    padding: 4vh 7.5% 15vh;
    background: #E9E9E9;    
}
.background{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 2vh 5%;
    margin-bottom: 3vh;
}
.background h2{
    font-weight: 600;
    font-size: 1.5em;
    line-height: 150%;
    margin-bottom: 2vh;
}
.background h4{
    font-weight: 700;
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 2vh;
}
.background span, .background p{
    font-weight: 500;
    font-size: 1em;
    line-height: 150%;
}

.color{
    display: flex;
    gap: 5%;
    margin-bottom: 2vh;
}
.light{
    display: flex;
    gap: 10%;
}
.lock{
    display: flex;
    justify-content: space-between;
}
.dark{
    display: flex;
    gap: 30%;
}

.color-sec{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 3vh 5%;
}
.color-sec h2{
    font-weight: 600;
    font-size: 1.5em;
    line-height: 150%;
    margin-bottom: 1vh;
}
.color-sec p{
    font-weight: 500;
    font-size: 1.1em;
    line-height: 150%;
    margin-bottom: 3vh;
}
.colors{
    display: flex;
    gap: 3%;
    width: 100%;
    margin-bottom: 1vh;
}
.colors div{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
 .color-sec .blue{
    background: #5837DB;
}
.color-sec .red{
    background: #D04343;

}
.color-sec .black{
    background: #000000;
}
.color-sec .orange{
    background: #FFA8A7;

}
.color-sec .light-blue{
    background: #A7DAFF;
}
.color-sec .yellow{
    background: #FFFF00;
;
}
.color-sec .purple{
    background: #800080;
}
.color-sec .green{
    background: #008000;

}
.Watermark{
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 3vh;
    padding: 3vh 5%;
    display: flex;
    justify-content: space-between;
}
.Watermark h5{
    font-weight: 500;
    font-size: 1.1em;
    line-height: 150%;
}
.Watermark div{
    border-radius: 25%;
    width: 40px;
    height: 20px;
    background: #FFFF00;

}