@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Gothic A1', sans-serif;
    position: relative;
    height: 100vh;
}
main{
    /* padding: 0 20%; */
    display: flex;
}
.login{
    width: 50%;
    height: 100vh;
    padding: 10vh 7.5%;
    /* background: #4A6DA7; */
    background: linear-gradient(to bottom right, #4A6DA7 50%, #FFFFFF 50%);
}
.login h1{
    font-weight: 700;
    font-size: 3em;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 3vh;
}
.login h3{
    font-weight: 700;
    font-size: 1.4em;
    line-height: 150%;
    color: #FFFFFF;
    width: 50%;
    padding-bottom: 5vh;

}
.login a{
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
    padding: 1.5vh 5%;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 8px;
}
.form-sec{
    width: 50%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    /* justify-content: center; */
}
.form-sec .img{
    /* width: 15%; */
    display: flex;
    justify-content: center;
}
.form-sec .img img{
    width: 15%;
}
.form-sec h2{
    text-align: center;
    font-weight: 700;
    font-size: 1.7em;
    line-height: 150%;
    padding-top: 12vh;
}

form{
    width: 80%;
    margin-top: 5vh;
}
 #username, #passwords, #submit, label{
    width: 100%;
}
#username, #passwords {
    padding: 1vh 2vh;
    margin-top: 1vh;
    outline: 0;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 150%;
    color: #686767;
    border: 2px solid #686767;
    border-radius: 8px;
}
 #username{
    margin-bottom: 3vh;
}
label{
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
}
#checkbox{
    align-self: center;
}
span{
    font-weight: 400;
    font-size: 0.85em;
    line-height: 150%;
    color: #4A6DA7;
    padding-left: 2%;
}

#submit{
    background: #4A6DA7;
    padding: 1.5vh 0;
    margin-top: 2vh;
    border: 0;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
}
form p{
    font-weight: 400;
    font-size: 0.85em;
    line-height: 150%;
    text-align: right;
    color: #FF0000;
}
