@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Gothic A1', sans-serif;
    position: relative;
    background: #cce3ff65;
    margin: 0 15%;
}
header{
    background-color: #000000;
    color: #ffffff;
    padding:  3vh 7.5%;
}
header h2{
    font-weight: 600;
    font-size: 1.5em;
    line-height: 150%;
    padding-bottom: 1vh;
}
header p{
    font-weight: 600;
    font-size: 1.05em;
    line-height: 150%;
    width: 90%;
}
/* main section */
main{
    padding: 4vh 7.5% 15vh;
    background: #E9E9E9;    
}
.templates{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3vh;
}
.templates .img{
    width: 32%;
    margin-bottom: 2vh;
    cursor: pointer;
    position: relative;
}
.templates .img img{
    width: 100%;
}
.templates .img:hover .actives{
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 82%;
    transition: 2.5s ease-in;
}
.actives{
    display: none;
}
.actives a{
    background: #4A6DA7;
    color: #ffffff;
    border-radius: 8px;
    padding: 1.5vh 10%;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 150%;
}
.actives a:hover{
    background: #4a6ea7cc;
}
.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.paginator a{
    border: 1px solid #ffffff;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 150%;
    color: #3D3D3D;
    padding: 1vh 2%;
}
.paginator a:hover{
    background: #4a6ea7cb;
    border: 1px solid #4A6DA7;
    color: white;
}
.paginator .act{
    border: 1px solid #4A6DA7;
    background: #4A6DA7;
    color: #ffffff;
}
.paginator a img{
    width: 75%;
}
.paginator .dot{
    font-weight: bolder;
}